* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto; }

.container {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  padding: 0; }

.myphoto {
  position: fixed;
  top: 50px;
  left: 50px;
  width: 150px;
  height: 150px;
  padding: 0;
  border: solid;
  border-color: #008000;
  border-radius: 50%;
  background-image: url(../images/PiotrZieminski.jpeg);
  background-size: cover;
  background-position: center; }

header {
  height: 100vh;
  width: 100%;
  background-image: url(../images/FrontPicture.jpg);
  overflow: hidden;
  background-position: center;
  background-size: cover; }

#maxima1 {
  text-align: center;
  color: #ffffff;
  float: none;
  font-size: 38px;
  box-sizing: border-box;
  max-width: 300px;
  background-color: rgba(135, 233, 255, 0.2);
  padding: 5px; }

.sentence {
  margin-top: 50vh;
  margin-left: 50vh; }

nav {
  background-color: rgba(135, 233, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-height: 50px;
  width: 100%;
  text-align: center; }
  nav ul {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    float: right; }
    nav ul li {
      display: inline-block;
      line-height: 30px;
      padding: 10px; }
      nav ul li ul li a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        height: 30px;
        width: 140px;
        padding: 0;
        text-decoration: none;
        font-size: 20px;
        border-style: solid;
        border-radius: 20%;
        transition: 2s; }
        nav ul li ul li a:hover {
          color: green;
          backcground-color: #ffffff;
          text-decoration: none; }

.section {
  background-color: #87e9ff; }

.content_box {
  height: auto;
  margin: 25px;
  padding: 100px 50px;
  color: white;
  background-color: #87e9ff;
  transition: 2s; }
  .content_box:hover {
    background-color: #87e9ff;
    color: #008000;
    border-style: dotted;
    border-radius: 20%; }

.content_box1 {
  height: auto;
  margin: 35px;
  padding: 130px 50px;
  color: white;
  background-color: #87e9ff;
  transition: 2s; }
  .content_box1:hover {
    background-color: #87e9ff;
    color: #008000;
    border-style: dotted;
    border-radius: 25%; }

section div div > div h2 {
  margin: 75px; }
section div div > div p {
  text-align: center; }
section div div > div div h2 {
  margin: 75px; }
section div div > div div p {
  text-align: left; }

img[alt="JavaScript"] {
  position: relative;
  top: 25px;
  right: 300px;
  width: 85px;
  height: 150px; }

img[alt="Ajax"] {
  position: relative;
  top: 250px;
  right: 250px;
  width: 200px;
  height: 250px; }

img[alt="HTML5"] {
  width: 250px;
  height: 250px; }

img[alt="CSS3"] {
  width: 150px;
  height: 250px; }

img[alt="Github"] {
  width: 150px;
  height: 250px; }

img[alt="Grunt"] {
  width: 150px;
  height: 250px; }

img[alt="Sass"] {
  width: 150px;
  height: 250px; }

.CV_button {
  margin: 0 auto; }

[class*="col-"] {
  float: left;
  padding: 10px;
  text-align: center; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/*# sourceMappingURL=style.css.map */
